* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #222;
}

header {
  height: 100px;

  .top-part {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 8px dotted red; */
    background-color: #222222;
    padding: 0 1rem;

    img {
      width: 30%;
    }

    .lefty {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .righty {
      a {
        padding: 1rem;
        color: white;
        text-decoration: none;
      }
    }

    #search {
      display: inline;
      align-items: center;
      width: 250px;
      border: none;
      background-color: #464646;
      border-radius: 4px;
      font-size: 14px;
      padding: 6px;
    }
  }

  .bot-part {
    display: flex;
    /* border: 8px dotted green; */
    padding: 0.8rem 1rem;
    background-color: #2b2b2b;

    .genre {
      border: 1px solid white;

      border-radius: 1rem;
      width: 370px;
      font-size: 14px;
      padding: 5px;
      background-color: #3c3c3c;
    }
  }
}

.container {
  display: flex;
  padding: 1rem;
  gap: 2rem;
  background-color: #222;
  /* border: 5px solid white; */
}

.col-left {
  display: grid;
  grid-template-columns: repeat(4, 225px);
  gap: 1.5rem;
  width: 70%;

  /* border: 5px solid white; */
}
.card {
  color: white;
  /* overflow: hidden; */
  /* border: 5px solid rgb(235, 5, 36); */
}

.card img {
  width: 100%;
  display: block;
  border: 1rem;
}
.info {
  padding: 0.5rem;
}
.title {
  font-weight: bold;
}
.artist {
  font-size: 0.9rem;
  color: white;
}
.genre {
  font-size: 0.8rem;
  color: #777;
}

/* PLAYER */

.col-right {
  width: 30%;
}

.right-img {
  width: 100%;
}

.img-info {
}
